form { 
    width: 100%;
    
    input {
        width: 200px;
        height: 75px;
        border-radius: 7px;
        border: 1px solid $primary-green;
        background-color: #f5f5f5;
        transition: all .2s ease-in-out;
        -webkit-box-shadow: 8px 8px 24px 3px rgba(66, 68, 90, 1);
        -moz-box-shadow: 8px 8px 24px 3px rgba(66, 68, 90, 1);
        box-shadow: 8px 8px 24px 3px rgba(66, 68, 90, 1);

        &:hover {
            border: 1px solid $dark-green;
        }
    }
}